name: Resources Tests

on:
  push: 
    branches: [master, experimental]

jobs:
  test:
    runs-on: ubuntu-latest
    name: Build and Test Resources
    steps:
      - uses: actions/checkout@v3
      - uses: mlugg/setup-zig@v2
        with:
          version: 0.15.2
      - run: apt install -y ffmpeg
      - run: zig build test

